menu "POV bridge configuration"

config POV_WIFI_SSID
    string "WiFi SSID"
    default "undef"
    help
        SSID to connect to as STA.

config POV_WIFI_PASSWORD
    string "WiFi password"
    default "undefoffice1010"
    help
        WPA2 password.

endmenu
